name: commit

on:
  push:
    branches: [main]

jobs:
  gitleaks:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0
      - uses: gitleaks/gitleaks-action@v2
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

  lint-go:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-go@v6
        with:
          go-version: "^1.21"
      - uses: golangci/golangci-lint-action@v9

  lint-dockerfile:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: hadolint/hadolint-action@v3.3.0

  test:
    runs-on: ubuntu-latest
    services:
      postgres:
        image: postgres:alpine
        ports:
          - 5432:5432
        env:
          POSTGRES_DB: astro
          POSTGRES_USER: postgres
          POSTGRES_PASSWORD: postgres

    env:
      CONFIG_PATH: "${{ github.workspace }}/config/config.yaml"

    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-go@v6
        with:
          go-version: "^1.21"

      - name: migrate
        run: go run cmd/migrate/migrate.go up

      - name: test
        run: go test -coverprofile=coverage.txt -v ./...

      - uses: actions/upload-artifact@v5
        with:
          name: test-coverage
          path: ./coverage.txt
          if-no-files-found: error

  coverage:
    needs: test
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/download-artifact@v6
        with:
          name: test-coverage
      - uses: codecov/codecov-action@v5
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          fail_ci_if_error: true
          verbose: true

  release:
    needs: [gitleaks, lint-go, lint-dockerfile, test, coverage]
    runs-on: ubuntu-latest
    steps:
      - uses: joaofnds/semantic-release-action@v1.4.0
        with:
          plugins: conventional-changelog-conventionalcommits
        env:
          GITHUB_TOKEN: ${{ secrets.PERSONAL_TOKEN }}
