name: restart-server

on:
  workflow_dispatch:
  schedule:
    - cron: "0 */3 * * *"

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: superfly/flyctl-actions/setup-flyctl@v1.5
      - run: flyctl apps restart
        env:
          FLY_API_TOKEN: ${{ secrets.FLY_API_TOKEN }}
